In [1]:
import sqlite3

In [46]:
# какой процент людей получает столько же или меньше:

connection = sqlite3.connect('window.db')
cursor = connection.cursor()
cursor.execute('''
    SELECT id, name, salary,  
        CONCAT(PRINTF('%g', ROUND(CUME_DIST() OVER w * 100)), '%') AS perc
    FROM employees
    WINDOW w AS (
            ORDER BY salary
    )
    ORDER BY salary, id
''')
cursor.fetchall()

[(11, 'Дарья', 70, '10%'),
 (12, 'Борис', 78, '20%'),
 (21, 'Елена', 84, '30%'),
 (22, 'Ксения', 90, '40%'),
 (31, 'Вероника', 96, '60%'),
 (32, 'Григорий', 96, '60%'),
 (33, 'Анна', 100, '70%'),
 (23, 'Леонид', 104, '90%'),
 (24, 'Марина', 104, '90%'),
 (25, 'Иван', 120, '100%')]

In [45]:
# Относительный ранг, какой процент людей получает строго меньше, чем конкретный сотрудник
connection = sqlite3.connect('window.db')
cursor = connection.cursor()
cursor.execute('''
    SELECT 
    name, salary,
    CUME_DIST() OVER w AS cd,
    ROUND(PERCENT_RANK() OVER w, 2) AS pr
    FROM employees
    WINDOW w AS (ORDER BY salary)
    ORDER BY salary, id;
''')
cursor.fetchall()

[('Дарья', 70, 0.1, 0.0),
 ('Борис', 78, 0.2, 0.11),
 ('Елена', 84, 0.3, 0.22),
 ('Ксения', 90, 0.4, 0.33),
 ('Вероника', 96, 0.6, 0.44),
 ('Григорий', 96, 0.6, 0.44),
 ('Анна', 100, 0.7, 0.67),
 ('Леонид', 104, 0.9, 0.78),
 ('Марина', 104, 0.9, 0.78),
 ('Иван', 120, 1.0, 1.0)]

In [38]:
#  Жаркий март 
connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute('''
    WITH match_temp AS (
        SELECT wdate, wtemp FROM weather
        WHERE wdate BETWEEN '2020-03-01' AND '2020-03-31'
    )
    SELECT wdate, wtemp,
        ROUND(CUME_DIST() OVER w, 2) AS cd, 
        ROUND(PERCENT_RANK() OVER w, 2) AS pr
    FROM match_temp
    WINDOW w AS (ORDER BY wtemp)
    ORDER BY wtemp DESC
    LIMIT 5
''')
cursor.fetchall()

[('2020-03-18', 12.5, 1.0, 1.0),
 ('2020-03-08', 11.9, 0.97, 0.97),
 ('2020-03-11', 11.7, 0.94, 0.93),
 ('2020-03-15', 10.9, 0.9, 0.9),
 ('2020-03-14', 10.1, 0.87, 0.87)]

In [47]:
# Начало весны
# Для каждого из дней с 1 по 5 марта определить, 
# какой процент дней в марте имеют такую же или меньшую температуру:

connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute('''
    WITH res_t AS (
        SELECT wdate, wtemp, 
            ROUND(CUME_DIST() OVER w,2) AS perc
        FROM weather
        WHERE wdate BETWEEN '2020-03-01' AND '2020-03-31'
        WINDOW w AS (ORDER BY wtemp)
        ORDER BY wdate
    )
    SELECT wdate, wtemp, perc
    FROM res_t
    WHERE wdate BETWEEN '2020-03-01' AND '2020-03-05'
    ORDER BY wdate
''')
cursor.fetchall()

[('2020-03-01', 7.6, 0.52),
 ('2020-03-02', 7.0, 0.32),
 ('2020-03-03', 6.0, 0.16),
 ('2020-03-04', 4.2, 0.06),
 ('2020-03-05', 5.7, 0.1)]

In [60]:
# Счастливые дни
# Для седьмого числа каждого месяца (7 января, 7 февраля, 7 марта ...) определить, 
# какой процент дней в соответствующем месяце имеют такую же или меньшую температуру:

connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute('''
    WITH res_q AS (
        SELECT wdate, wtemp, 
        ROUND(CUME_DIST() OVER w, 2) AS perc
        FROM weather
        WINDOW w AS (PARTITION BY strftime('%m', wdate) ORDER BY wtemp)
        ORDER BY strftime('%m', wdate), wtemp
    )
    SELECT wdate, wtemp, perc
    FROM res_q
    WHERE strftime('%d', wdate) = '07'
    ORDER BY wdate
''')
cursor.fetchall()

[('2020-01-07', 8.1, 0.61),
 ('2020-02-07', 5.0, 0.1),
 ('2020-03-07', 7.5, 0.48),
 ('2020-04-07', 12.3, 0.53),
 ('2020-05-07', 14.5, 0.45),
 ('2020-06-07', 13.4, 0.1)]

In [71]:
#     percentile_disc рассматривает набор данных как дискретный (то есть состоящий из отдельных значений). 
# Всегда возвращает конкретное значение из тех, что есть в таблице.
#     percentile_cont рассматривает набор данных как непрерывный 
# (как будто значения в наборе — это выборка из некоторого непрерывного распределения данных). 
# Рассчитывает процентиль аналитически по формуле.

connection = sqlite3.connect('window.db')
cursor = connection.cursor()
cursor.execute('''
    WITH p AS (SELECT salary, NTILE(4) OVER (ORDER BY salary) AS percentile
           FROM employees)
SELECT percentile, MAX(salary) as salary
FROM p
GROUP BY percentile;
''')
cursor.fetchall()

[(1, 84), (2, 96), (3, 104), (4, 120)]

In [10]:
# Медиана температуры
connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute('''
    WITH q_avg AS (SELECT wdate, wtemp, 
        ROUND(AVG(wtemp) OVER w, 2) AS avg_temp
    FROM weather 
    WINDOW w AS (PARTITION BY strftime('%m', wdate))
    ), q_proc AS (SELECT wdate, wtemp, 
         ntile(10) OVER w AS gr_proc
     FROM weather
     WINDOW w AS (PARTITION BY strftime('%m', wdate) ORDER BY wtemp)
     ), q_res AS (
    SELECT strftime('%m', q_proc.wdate) AS month, gr_proc,
        avg_temp,
        LAST_VALUE(q_proc.wtemp) OVER w AS proc
    FROM q_avg JOIN q_proc ON q_avg.wdate = q_proc.wdate AND q_avg.wtemp = q_proc.wtemp
    WINDOW w AS (PARTITION BY strftime('%m', q_proc.wdate), gr_proc 
                ORDER BY q_proc.wtemp
                ROWS BETWEEN unbounded preceding AND unbounded following
                )
    )
    SELECT month, gr_proc, avg_temp, proc
    FROM q_res
    GROUP BY month, gr_proc, avg_temp, proc
    HAVING gr_proc IN (5, 9)
''')
cursor.fetchall()
# WITH q_avg AS (SELECT wdate, wtemp, 
#         ROUND(AVG(wtemp) OVER w, 2) AS avg_temp
#     FROM weather 
#     WINDOW w AS (PARTITION BY strftime('%m', wdate))
#     ), q_proc AS (SELECT wdate, wtemp, 
#          ntile(10) OVER w AS gr_proc
#      FROM weather
#      WINDOW w AS (PARTITION BY strftime('%m', wdate) ORDER BY wtemp)
#      ), q_res AS (
#     SELECT strftime('%m', q_proc.wdate) AS month, gr_proc,
#         avg_temp, MAX(q_proc.wtemp) AS proc
#     FROM q_avg JOIN q_proc ON q_avg.wdate = q_proc.wdate AND q_avg.wtemp = q_proc.wtemp
#     GROUP BY strftime('%m', q_proc.wdate), gr_proc, avg_temp
#     ) 
#     SELECT month, gr_proc, avg_temp, proc
#     FROM q_res
#     WHERE gr_proc IN (5, 9)

[('01', 5, 7.55, 7.8),
 ('01', 9, 7.55, 10.6),
 ('02', 5, 8.24, 7.9),
 ('02', 9, 8.24, 11.7),
 ('03', 5, 7.97, 7.6),
 ('03', 9, 7.97, 10.9),
 ('04', 5, 12.35, 12.1),
 ('04', 9, 12.35, 15.9),
 ('05', 5, 15.26, 15.6),
 ('05', 9, 15.26, 20.0),
 ('06', 5, 17.72, 17.2),
 ('06', 9, 17.72, 20.2)]