In [37]:
import sqlite3

connection = sqlite3.connect('../tables_db/window.db')
cursor = connection.cursor()

In [12]:
# EXCLUDE:
#     EXCLUDE NO OTHERS. Ничего не исключать. Вариант по умолчанию: если явно не указать exclude, сработает именно он.
#     EXCLUDE CURRENT ROW. Исключить текущую запись (как мы сделали на предыдущем шаге с сотрудником).
#     EXCLUDE GROUP. Исключить текущую запись и все равные ей (по значению столбцов из order by).
#     EXCLUDE TIES. Оставить текущую запись, но исключить равные ей.

In [11]:
# как изменится средняя зарплата по организации, если уволить того или иного сотрудника.

cursor.execute('''
    SELECT name, salary, 
        PRINTF('%.2f', ROUND(AVG(salary) OVER w, 2)) AS avg
    FROM employees
    WINDOW w AS (
        ROWS BETWEEN unbounded preceding AND unbounded following
        EXCLUDE current row
    )
    ORDER BY salary, id
    
''')
print(*[x for x in cursor.fetchall()], sep='\n')

('Дарья', 70, '96.89')
('Борис', 78, '96.00')
('Елена', 84, '95.33')
('Ксения', 90, '94.67')
('Вероника', 96, '94.00')
('Григорий', 96, '94.00')
('Анна', 100, '93.56')
('Леонид', 104, '93.11')
('Марина', 104, '93.11')
('Иван', 120, '91.33')

In [23]:
# Как изменится средняя зарплата по организации, если уволить конкретного 
# сотрудника и всех, кто получает столько же, сколько и он?

cursor.execute('''
    SELECT name, salary, 
        ROUND(AVG(salary) OVER w, 2) AS avg
    FROM employees
    WINDOW w AS (
        ORDER BY salary
        ROWS BETWEEN unbounded preceding AND unbounded following
        EXCLUDE GROUP
    )
    ORDER BY salary, id
    
''')
print(*[x for x in cursor.fetchall()], sep='\n')

('Дарья', 70, 96.89)
('Борис', 78, 96.0)
('Елена', 84, 95.33)
('Ксения', 90, 94.67)
('Вероника', 96, 93.75)
('Григорий', 96, 93.75)
('Анна', 100, 93.56)
('Леонид', 104, 91.75)
('Марина', 104, 91.75)
('Иван', 120, 91.33)

In [42]:
# Есть таблица сотрудников employees. Предположим, для каждого человека 
# мы хотим посчитать среднюю зарплату сотрудников, которые получают 
# столько же или больше, чем он — но не более чем +20 тыс. ₽ (p20_sal). 
# При этом зарплату самого сотрудника учитывать не следует
cursor.execute('''
    SELECT id, name, salary,
    ROUND(AVG(salary) OVER w) AS p20_sal
    FROM employees
    WINDOW w AS (
        ORDER BY salary
        RANGE BETWEEN current row AND 20 following 
        EXCLUDE current row
    )
    ORDER BY salary, id
    
''')
print(*[x for x in cursor.fetchall()], sep='\n')

(11, 'Дарья', 70, 84.0)
(12, 'Борис', 78, 92.0)
(21, 'Елена', 84, 98.0)
(22, 'Ксения', 90, 100.0)
(31, 'Вероника', 96, 101.0)
(32, 'Григорий', 96, 101.0)
(33, 'Анна', 100, 109.0)
(23, 'Леонид', 104, 112.0)
(24, 'Марина', 104, 112.0)
(25, 'Иван', 120, None)