In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('window.db')
cursor = connection.cursor()

In [4]:
cursor.execute('''
    SELECT name, salary, 
    COUNT(*) OVER w AS cnt
    FROM employees
    WINDOW w AS (
        ORDER BY salary
        RANGE BETWEEN 10 preceding AND 10 following
    )
    ORDER BY salary, id
''')
print(*cursor.fetchall(), sep='\n')

('Дарья', 70, 2)
('Борис', 78, 3)
('Елена', 84, 3)
('Ксения', 90, 5)
('Вероника', 96, 6)
('Григорий', 96, 6)
('Анна', 100, 6)
('Леонид', 104, 5)
('Марина', 104, 5)
('Иван', 120, 1)

In [6]:
# Для каждого человека мы хотим посчитать количество сотрудников, 
# которые получают такую же или большую зарплату, но не более чем +10 тыс. ₽ (p10_cnt)
cursor.execute('''
    SELECT id, name, salary,
        COUNT(*) OVER w AS p10_cnt
    FROM employees
    WINDOW w AS (
        ORDER BY salary
        RANGE BETWEEN current row AND 10 following
    )
    ORDER BY salary, id
''')
print(*cursor.fetchall(), sep='\n')

(11, 'Дарья', 70, 2)
(12, 'Борис', 78, 2)
(21, 'Елена', 84, 2)
(22, 'Ксения', 90, 4)
(31, 'Вероника', 96, 5)
(32, 'Григорий', 96, 5)
(33, 'Анна', 100, 3)
(23, 'Леонид', 104, 2)
(24, 'Марина', 104, 2)
(25, 'Иван', 120, 1)

In [10]:
# Для каждого человека мы хотим определить максимальную зарплату среди тех, 
# у кого зарплата на 10–30 тыс. ₽ меньше чем у него:
cursor.execute('''
    SELECT id, name, salary,
        MAX(salary) OVER w AS lower_sal
    FROM employees
    WINDOW w AS (
        ORDER BY salary
        RANGE BETWEEN 30 preceding AND 10 preceding
    )
    ORDER BY salary, id
''')
print(*cursor.fetchall(), sep='\n')

(11, 'Дарья', 70, None)
(12, 'Борис', 78, None)
(21, 'Елена', 84, 70)
(22, 'Ксения', 90, 78)
(31, 'Вероника', 96, 84)
(32, 'Григорий', 96, 84)
(33, 'Анна', 100, 90)
(23, 'Леонид', 104, 90)
(24, 'Марина', 104, 90)
(25, 'Иван', 120, 104)

In [ ]:
# типы фреймов:
    # строковые (rows) оперируют отдельными записями;
    # групповые (groups) оперируют группами записей с одинаковым набором значений столбцов из order by;
    # диапазонные (range) оперируют группами записей, у которых значение столбца из order by попадает в указанный диапазон.